<app-divider>Segment Component</app-divider>
<app-segment>
  <header>
    <i class="pdf file outline icon"></i>
    No documents are listed for this customer.
  </header>
  <div class="ui primary button">Add Document</div>
</app-segment>
<app-segment>
  <header>
    <i class="add icon"></i>
    Click below to add a document.
  </header>
  <div class="ui primary button">Add Document</div>
</app-segment>
<app-divider>Placeholder Component</app-divider>
<app-placeholder [lines]="12"></app-placeholder>
