<app-divider>Modal Component</app-divider>
<button (click)="onClick()">Show Modal!</button>
<app-modal (close)="onClick()" *ngIf="modalOpen">
  <div modalTitle>I am a REUSABLE title!</div>
  <p>I am a REUSABLE modal window!</p>
  <ng-container modalFooter>
    <button class="ui button" (click)="onClick()">CLOSE ME!</button>
  </ng-container>
</app-modal>

<app-divider>Accordion Component</app-divider>
<app-accordion [items]="items"></app-accordion>