<div class="ui accordion styled">
  <ng-container *ngFor="let item of items; let i = index">
    <div [ngClass]="{ active: i === openedItemIndex }" class="title" (click)="onClick(i)">
      <i class="dropdown icon"></i>
      {{ item.title }}
    </div>
    <div [ngClass]="{ active: i === openedItemIndex }" class="content">
      {{ item.content }}
    </div>
  </ng-container>
</div>
